# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
if SHIELD_TIEN_LEFT

config ZMK_KEYBOARD_NAME
	default "Tien"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_TIEN_LEFT || SHIELD_TIEN_RIGHT

config ZMK_SPLIT
	default y

endif